# Ignore Python virtual environment
labenv/
labenv/*

# Ignore environment variable files
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings (optional)
Hands-On Hacking Session 2/.env
